<h2><%= @category.category_name%></h2>
<% @tasks.each do |task|%>
    <div>
        <ul>
            <li><%= task.title%></li>
            <li><%= task.description%></li>
        </ul>
        <%= link_to 'Show Task', category_task_path(@category, task)%>
        <%= link_to 'Delete Task', category_task_path(@category, task), method: :delete, data: {confirm: "Are you sure you want to delete #{task.title}?"}%>
    </div>
<%end%>