<h1 class ="p-5 bg-blue-400 mx-5 rounded-full text-4xl text-blue-800 tracking-tighter col-start-1 col-span-5 w-11/12 justify-self-start shadow-md"><%= @category.category_name%></h1>
<section class = "show-task-template flex items-center justify-center py-10">
    <div class = "bg-blue-200 p-7 py-8 rounded-lg shadow-md w-1/4">
        <h2 class= "text-3xl text-blue-800"><%= @task.title %></h2>
        <div class = "border-b-2 border-white">Deadline: <%= @task.deadline%></div>
        <div class = "my-3 p-2 bg-white rounded-lg"><%= @task.description %></div>
        <%= button_to 'Edit Task', edit_category_task_path(@category, @task), method: :get, class: "p-2 rounded-lg shadow-md 
        bg-green-400 text-white cursor-pointer hover:bg-white hover:text-green-400"%>
    </div>
</section>