<%= render "categories/error_message"%>
<section class = "flex justify-around items-center p-5">
<figure class= "flex flex-col items-center mt-10">
    <%= image_tag "cohort-analysis-animate.svg", class: 'h-45rem'%>
    <figcaption><a href="https://storyset.com/work", class = "w-full text-blue-800 font-big-shoulders">Illustration by Freepik Storyset</a></figcaption>
</figure>

    <div class = "bg-blue-100 p-8 rounded-lg shadow-lg animate-wiggle">
        <h1 class = "text-4xl text-blue-800 mb-5">You have <%= @urgent_tasks.count%> tasks for today!</h1>
        <% @urgent_tasks.each do |task|%>
            <p class = "my-2 p-3 bg-white shadow-md rounded-md w-full flex justify-between text-xl tracking-wider">
                <span class="relative inline-flex rounded-full h-3 w-3 bg-red-400">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
                </span>
                <span><%= task.title%></span>
                <span><%= task.deadline.strftime('%b'',''%d'',''%Y')%></span>
            </p>
    
        <%end%>
    </div>
</section>