<div class = 'bg-blue-200 rounded-md p-5 w-80 shadow transform transition duration-200 ease-in-out hover:-translate-y-1'>
    <h2 class ="text-3xl text-blue-900 tracking-tighter border-b-2 border-blue-50 w-full flex items-center justify-between">
        <div class = "w-60 truncate hover:text-blue-400">
            <%= link_to category.name, category_tasks_path(category)%>
        </div>
        <div class = "text-lg">
            <%= link_to edit_category_path(category) do%>
                <%= fa_icon "align-justify"%>
            <%end%>
        </div>
    </h2>
    <h3 class ="flex justify-between text-lg text-indigo-400 my-2">
    <% overdue_task = []%>
    <% category.tasks.each{|task| overdue_task.push(task) if @overdue_tasks.include?(task)}%>
        <div><%= category.tasks.count%> Task/s</div>
        <div><%= overdue_task.count%> Overdue</div>
        <div><%= category.tasks.where(completed: true).count%> Completed</div>
    </h3>

    <%tasks =  category.tasks.order(:deadline)%>
    <%tasks.slice(0,3).each do |task|%>
        <div class ="bg-white rounded-md p-2 shadow my-2 flex justify-between items-center">
            <p class = "w-40 truncate"><%= task.title%></p>
            <% if task.deadline == Date.today && !task.completed %>
                <div class="relative inline-flex rounded-full h-3 w-3 bg-red-400">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
                </div>
            <% elsif task.completed%>
                <div class = "rounded text-xs text-green-800 ring ring-green-400 ring-offset-2">Completed</div>
            <% elsif @overdue_tasks.include?(task)%>
                <div class = "rounded text-xs text-red-800 ring ring-red-400 ring-offset-2">Overdue</div>
            <%end%>              
        </div>
    <%end%>
    <%= button_to 'New Task', new_category_task_path(category), method: :get, class: "bg-green-400 py-2 px-4 rounded-lg text-gray-100 cursor-pointer transition duration-300 hover:bg-white hover:text-green-400 w-full"%>
</div>