<!DOCTYPE html>
<html>
  <head>
    <title>PlannerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <!--======================== Google Font ===========================-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
  <!--================================================================================-->
  <!-- ===================================  Font-Awesome =========================================-->
  <script src="https://kit.fontawesome.com/da7ccd1607.js" crossorigin="anonymous"></script>
  <!--=============================================================================================-->
  <%= favicon_link_tag asset_path('notebook.png')%>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--=================================== BODY =======================================================-->
  <body class="<%= controller_name%>-<%= action_name%> bg-indigo-200 font-roboto">
    <main>
    <% if user_signed_in?%>
      <%= render "nav/nav_bar"%>
    <%end%>
      <section class="mt-24">
        <%= yield %>
      </section>
    </main>
     <footer>
        <div class="circle-one circle">
          <div class = "inner-circle-one animate-pulse animate-bounce"></div>
        </div>
        
        <div class="circle-two circle animate-pulse"></div>
      </footer>
  </body>
</html>
