<!DOCTYPE html>
<html>
  <head>
    <title>PlannerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <!--======================== Google Font ===========================-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
  <!--================================================================================-->
  <!-- ===================================  Font-Awesome =========================================-->
  <script src="https://kit.fontawesome.com/da7ccd1607.js" crossorigin="anonymous"></script>
  <!--=============================================================================================-->
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--=================================== BODY =======================================================-->
  <body class="<%= controller_name%>-<%= action_name%> bg-indigo-200 font-roboto">
    <main>
    <% if user_signed_in?%>
      <header class ="bg-indigo-300 w-screen p-2 flex items-center fixed top-0 z-10 shadow"><!--bg-gradient-to-r from-blue-100 to-blue-500-->
        <nav class="flex justify-between w-screen py-2">
          <h1 class = "font-lobster text-blue-700 text-5xl ml-10 cursor-pointer hover:text-blue-800 tracking-tighter"><i class="fas fa-calendar-check"></i><%= link_to 'remindme!', root_path%></h1>
          <ul class ="relative right-5 flex items-center space-x-7 text-white font-rubik text-xl">
            <li class ="transition duration-300 hover:text-blue-500"><%= button_to 'New Category', new_category_path, method: :get, class:"bg-indigo-400 p-4 rounded-xl shadow-md text-white cursor-pointer transform transition duration-500 ease-in-out hover:scale-110 hover:text-indigo-400 hover:bg-white"%></li>
            <li class ="transition duration-300 hover:text-blue-500"><%= link_to 'Home', root_path%></li>
            <li class ="transition duration-300 hover:text-blue-500"><%= link_to 'Dashboard', categories_path%></li>
            <li class ="transition duration-300 hover:text-blue-500"><%= link_to 'Profile', edit_user_registration_path%></li>
            <li class ="transition duration-300 hover:text-blue-500"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></li>            
          </ul>
        </nav>
      </header>
    <%end%>
      <section class="transform translate-y-24">
        <%= yield %>
      </section>
    </main>
     <footer>
        <div class="circle-one circle">
          <div class = "inner-circle-one animate-pulse animate-bounce"></div>
        </div>
        
        <div class="circle-two circle animate-pulse"></div>
      </footer>
  </body>
</html>
